
@font-face {
    font-family: kaftan;
    src: url(../public/kaftan.otf);
}


* {
    /* margin: 0; */
    padding: 0;
    /* box-sizing: border-box; */
    
}

html {
    width: 100%;
}


body {
    overflow-x: hidden;
    margin: 0;
}

section {
    background-color: rgba(0, 0, 0, 1);
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
    
}


.principalContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principalBox {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: start;
    align-items: center;
}


.titleBox {
    display: flex;
    flex-direction: column;
    margin-left: 10rem  
}

.titleName {
    font-family: kaftan;
        color: white;
        font-size: 6rem;
        letter-spacing: 0.2rem;
        text-align: center;
        user-select: none;
        opacity: 0.9;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.subtitleName {
    font-family: kaftan;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-align: right;
    user-select: none;
    opacity: 0.9;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}


.paddedTitle {
    font-family: kaftan;
    color: rgb(120, 158, 113);
    font-size: 2rem;
    letter-spacing: 0.2rem;
    user-select: none;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    padding-left: 18rem;
}

.aboutArticle {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 2rem
}

.aboutMeInfo {
    display: flex
}

.educationInfo {
    display: flex
}

.educationArticle {
    flex: 1;
    color: aliceblue;
    padding-top: 2rem;
    
    
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        opacity: 0.8;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        opacity: 0.9;
}

em {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        opacity: 0.8;
}

.projectImage {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    object-fit: cover;
}

#container3D {
    width: 100%;
    height: 100%;
}


#principalContainer  {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: border 0.5s ease-in-out;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 95%);
}


.socialIcon {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}


.socialIcon *{
    width: min-content;
    cursor: pointer;
}

.parentLineContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 37px solid transparent;
    box-sizing: border-box;
}

.childLineContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
}



#aboutSection {
    display: flex;
        flex-direction: column;
        color: aliceblue
}

#sliderSection {
    background-color: #171407;
    padding-top: 5rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

#educationSection {
    background-color: #171407;
}

#skillsSection {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.sectionTitle {
    font-family: kaftan;
    color: rgb(120, 158, 113);
    font-size: 2rem;
    letter-spacing: 0.2rem;
    user-select: none;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}


@media only screen and (max-width: 767px) {
    section {
        background-color: rgba(0, 0, 0, 1);
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .aboutMeInfo {
        display: flex;
        flex-direction: column;
    }

    .paddedTitle {
        font-family: kaftan;
        color: rgb(120, 158, 113);
        font-size: 2rem;
        letter-spacing: 0.2rem;
        user-select: none;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
        padding-left: 2rem;
    }

    .item {
        width: 13rem;
    }

    .cardInfo {
        padding-left: 1rem;
        padding-right: 1rem;

    }

    .cardInfo h2 {

        font-size: 1rem;
    }

    .cardInfo span {

        font-size: 0.8rem;
    }

    .educationInfo {
        flex-direction: column;
    }

    .logos-slide .logoItem {
        height: 90px;
        margin: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titleBox {
        margin-left: 0
    }
    
    .titleBox #title {
        font-size: 4rem;
    }

    .principalBox {
        justify-content: center;
        align-items: center;
    }

    .subtitleName {
        font-size: 0.8rem;
        text-align: center;
    }

    #photo img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 5px
    }

}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    section {
        background-color: rgba(0, 0, 0, 1);
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .paddedTitle {
        font-family: kaftan;
        color: rgb(120, 158, 113);
        font-size: 2rem;
        letter-spacing: 0.2rem;
        user-select: none;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
        padding-left: 5rem;
    }

    .item {
        width: 30rem;
    }

    #photo {
        margin-left: 0;
    }

    #photo img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 5px
    }

    .titleBox {
        margin-left: 0
    }
    .titleBox #title {
        font-size: 4rem;
    }
    .principalBox {
        justify-content: center;
        align-items: center;
    }
          
}

@media only screen and (min-width: 1280px) {
    #photo {
        margin-left: 0;
    }

    #photo img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 5px
    }
}