
@font-face {
    font-family: kaftan;
    src: url(../public/kaftan.otf);
}

body {
    overflow-x: hidden;
}

section {
    background-color: rgba(0, 0, 0, 1);
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

#principalContainer  {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: border 0.5s ease-in-out;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 95%);
}


.socialIcon {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}


.socialIcon *{
    width: min-content;
    cursor: pointer;
}



#photo {
    margin-left: 0;
}


.slider {
    position: relative;
    width: 100%;
    height: 370px;
    overflow: hidden;
    z-index: 999;
}

.item {
    position: absolute;
    width: 200px;
    height: 320px;
    text-align: justify;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}

#next,
#prev {
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 10%;
}

#next {
    left: unset;
    right: 10%;
}